<header id="header">
  <div class="wrapper hero">
    <img src="https://cdn.glitch.com/cd774d0b-2d68-4f4e-a1a9-939b3ac941b1%2Frosie-100x100.png?1525637458252"/>  
    <h1>Ask Rosie</h1>
  </div>
</header>
